* {
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  margin: 0;
  padding: 0;
  background-color: #fafafa;
}

/* .title {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #b8afe7;
  height: 40px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
} */

.title h1 {
  font-size: 2.5rem;
  font-weight: bold;
  color: #483d83;
  margin: 0;
}

.container {
  max-width: 600px;
  margin: 10px auto;
  padding: 20px;
  background-color: #ffffff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  border-radius: 8px;
}

form {
  display: flex;
  flex-wrap: wrap;
}

form label {
  display: block;
  width: 100%;
  margin-bottom: 6px;
  font-weight: bold;
  color: #333333;
}

form input,
form select {
  width: 100%;
  padding: 10px;
  border-radius: 4px;
  border: 1px solid #cccccc;
  margin-bottom: 1px;
}

form input:focus,
form select:focus {
  outline: none;
  border-color: #2d88ff;
}

form .address {
  width: 100%;
  margin-bottom: 20px;
  border: 1px solid #cccccc;
  border-radius: 4px;
  padding: 20px;
}

form .address legend {
  font-weight: bold;
  color: #333333;
  margin-bottom: 10px;
}

form .address label {
  display: block;
  width: 100%;
  margin-bottom: 6px;
  font-weight: normal;
  color: #333333;
}

form .address input {
  width: 100%;
  padding: 10px;
  border-radius: 4px;
  border: 1px solid #cccccc;
  margin-bottom: 10px;
}

form .address input:focus {
  outline: none;
  border-color: #2d88ff;
}

form button {
  padding: 10px 20px;
  background-color: #9d2dff;
  color: #ffffff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: all 0.3s ease;
}

form button:hover {
  background-color: #281dbf;
}

#confirmation {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(0, 0, 0, 0.8);
  color: #ffffff;
  padding: 20px;
  border-radius: 8px;
  font-size: 20px;
  display: none;
  z-index: 999;
}

#confirmation.show {
  display: block;
}

.dropdown-menu {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1000;
  min-width: 160px;
  padding: 5px 0;
  margin: 2px 0 0;
}

table {
  margin: 10px auto; /* center the table horizontally */
  border-collapse: collapse; /* remove the spacing between cells */
}

table td,
table th {
  padding: 10px; /* add some padding to cells */
  border: 1px solid #ddd; /* add borders to cells */
}

table th {
  background-color: #4b70ec; /* add a background color to header cells */
  font-weight: bold; /* make header cells bold */
  color: #f5f0f0;
}

.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.pagination li {
  display: inline-block;
  margin: 0 5px;
}

.pagination li a {
  display: inline-block;
  padding: 6px 12px;
  border: 1px solid #dddddd;
  border-radius: 4px;
  color: #333333;
}

.pagination li.active a {
  background-color: #007bff;
  color: #ffffff;
  border-color: #007bff;
}

.pagination li a:hover {
  background-color: #f2f2f2;
  color: #333333;
}
